<!DOCTYPE html>
<html>

<head>
  <title>Clientes</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
  <h1>Clientes</h1>
  <!-- <form action="/clientes" method="post">
    <input type="submit" name="clientes" value="Buscar">
    <input type="text" name="campo_rfc" placeholder="RFC">
  </form> -->
  <form action="/clientes" id="miFormulario" method="post" class="header">
    <a href="/" class="boton">Inicio</a>
    <input type="submit" name="clientes" value="Buscar">
    

  </form>

  <form action="/crear_cliente" id="formularioCrear" method="post" class="header">
    <input type="text" name="rfc">
    <input type="text" name="nombre">
    <input type="text" name="apellido_paterno">
    <input type="text" name="apellido_materno">
    <input type="text" name="direccion">
    <input type="text" name="telefono">
    <input type="text" name="email">


  </form>


  
  <!-- <th name="rfc">RFC</th>
  <th name="nombre">Nombre</th>
  <th name="apellido_paterno">Apellido Paterno</th>
  <th name="apellido_materno">Apellido Materno</th>
  <th name="direccion">Dirección</th>
  <th name="telefono">Teléfono</th>
  <th name="email">Email</th>
  <th name="sucursal">Sucursal</th>
  <th name="ganancias">Ganancias</th> -->

  <script src="{{ url_for('static', filename='filtros.js') }}"></script>
  <script src="{{ url_for('static', filename='ganancias.js') }}"></script>

</body>
</html>