<!DOCTYPE html>
<html>

<head>
  <title>Clientes</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
  <h1>Alta de Cliente</h1>
  <!-- <form action="/clientes" method="post">
    <input type="submit" name="clientes" value="Buscar">
    <input type="text" name="campo_rfc" placeholder="RFC">
  </form> -->
  <form action="/altas" id="miFormulario" method="post" class="header">
    <a href="/" class="boton">Inicio</a>
    <input type="submit" name="clientes" value="Altas">
  </form>

  {% if mensaje != '' %}
  <p>{{ mensaje }}</p>
  {% endif %}

  <form action="/crear_cliente" id="formularioCrearC" method="post" class="" onsubmit="return validarFormulario();">
    <label for="rfc">RFC:</label><br>
    <input type="text" name="rfc" id="rfc"><br><br>
    <label for="nombre">Nombre:</label><br>
    <input type="text" name="nombre" id="nombre"><br><br>
    <label for="apellido_paterno">Apellido Paterno:</label><br>
    <input type="text" name="apellido_paterno" id="apellido_paterno"><br><br>
    <label for="apellido_materno">Apellido Materno:</label><br>
    <input type="text" name="apellido_materno" id="apellido_materno"><br><br>
    <label for="direccion">Dirección:</label><br>
    <input type="text" name="direccion" id="direccion"><br><br>
    <label for="telefono">Teléfono:</label><br>
    <input type="text" name="telefono" id="telefono"><br><br>
    <label for="email">Email:</label><br>
    <input type="text" name="email" id="email"><br><br>

    <input type="submit" name="guardar" value="Guardar">

  </form>


  <script src="{{ url_for('static', filename='alta_clientes.js') }}"></script>

</body>
</html>