<!DOCTYPE html>
<html>
<head>
    <title>Inversiones el TEC</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Altas</h1>
    <p>Selecciona una opción</p>
    <form action="/" method="post" style="width: 20%; text-align: center;">
        <a href="/" class="boton">Inicio</a>
    </form>
    <form action="/alta_cliente" method="post" style="width: 20%; text-align: center;">
        <input type="submit" name="alta_cliente" value="Alta de Clientes" class="boton_inicio">
    </form>
    <form action="/alta_contrato" method="post" style="width: 20%; text-align: center;">
        <input type="submit" name="alta_contrato" value="Alta de Contratos" class="boton_inicio">
    </form>
    <form action="/alta_inversion" method="post" style="width: 20%; text-align: center;">
        <input type="submit" name="alta_inversion" value="Alta de Inversiones" class="boton_inicio">
    </form>
    
</body>
</html>
