<!DOCTYPE html>
<html>
<head>
    <title>Contratos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Contratos</h1>
  <form action="/contratos" id="miFormulario" method="post" class="header">
    <a href="/" class="boton">Inicio</a>
    <input type="submit" name="contratos" value="Buscar">
    

  </form>
  {% if mensaje != '' %}
      <p>{{ mensaje }}</p>
  {% endif %}
  <table id="miTabla">
    <thead>
      <tr>
        <th name="folio_contrato">Folio</th>
        <th name="rfc_cliente">RFC</th>
        <th name="fecha_inicio">Fecha Inicio</th>
        <th name="fecha_vencimiento">Fecha Vencimiento</th>
      </tr>
    </thead>
    <tbody>
      {% for contrato in contratos %}
        <tr>
            {% for i in contrato %}
            <td>{{ i }}</td>
            {% endfor %}
        </tr>
      {% endfor %}
  <script src="{{ url_for('static', filename='filtros.js') }}"></script>
</body>
</html>