<!DOCTYPE html>
<html>
<head>
    <title>APP - Inversiones</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Inversiones el TEC</h1>
    <p>Selecciona una opción</p>
    <form action="/clientes" method="post" style="width: 10%; text-align: center;">
        <input type="submit" name="clientes" value="Clientes" class="boton_inicio">
    </form>
    <form action="/contratos" method="post" style="width: 10%; text-align: center;">
        <input type="hidden" name="campo_folio_contrato" value="">
        <input type="submit" name="contratos" value="Contratos" class="boton_inicio">
    </form>
    <form action="/inversiones" method="post" style="width: 10%; text-align: center;">
        <input type="hidden" name="campo_folio_inversion" value="">
        <input type="submit" name="inversiones" value="Inversiones" class="boton_inicio">
    </form>
    <form action="/altas" method="post" style="width: 10%; text-align: center;">
        <input type="submit" name="altas" value="Altas" class="boton_inicio">
    </form>
    <form action="/modificaciones" method="post" style="width: 10%; text-align: center;">
        <input type="submit" name="modificaciones" value="Modificaciones" class="boton_inicio">
    </form>
    <form action="/bajas" method="post" style="width: 10%; text-align: center;">
        <input type="submit" name="bajas" value="Bajas" class="boton_inicio">
    </form>

    
</body>
</html>
