<!DOCTYPE html>
<html>
<head>
    <title>Inversiones</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Inversiones</h1>
  <form action="/inversiones" id="miFormulario" method="post" class="header">
    <a href="/" class="boton">Inicio</a>
    <input type="submit" name="inversiones" value="Buscar">
    

  </form>
  {% if mensaje != '' %}
      <p>{{ mensaje }}</p>
  {% endif %}
  <table id="miTabla">
    <thead>
      <tr>
        <th name="folio_Inversion">Folio Inversion</th>
        <th name="folio_contrato">Folio Contrato</th>
        <th name="clave_tasa">Clave Tasa</th>
        <th name="tipo_inversion">Tipo Inversion</th>
        <th name="monto_invertido">Monto Invertido</th>
        <th name="monto_ganado">Monto Ganado</th>
      </tr>
    </thead>
    <tbody>
      {% for inversion in inversiones %}
        <tr>
            {% for i in inversion %}
            <td>{{ i }}</td>
            {% endfor %}
        </tr>
      {% endfor %}
  <script src="{{ url_for('static', filename='filtros.js') }}"></script>
</body>
</html>