<!DOCTYPE html>
<html>
<head>
    <title>Contratos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Modificar Contrato</h1>
  <form action="/modificar_contrato" id="miFormulario" method="post" class="header">
    <a href="/" class="boton">Inicio</a>
    <input type="submit" name="contratos" value="Buscar">
    

  </form>
  {% if mensaje != '' %}
      <p>{{ mensaje }}</p>
  {% endif %}
  <table id="miTabla">
    <thead>
      <tr>
        <th name="id">Número de Contrato</th>
        <th name="sucursal">Sucursal</th>
        <th name="rfc_cliente">RFC</th>
        <th name="fecha_inicio">Fecha Inicio</th>
        <th name="fecha_vencimiento">Fecha Vencimiento</th>
        <th name="ganancias">Modificar</th>
      </tr>
    </thead>
    <tbody>
      {% for contrato in contratos %}
        <tr id="{{ contrato[0] }}">
            {% for i in contrato %}
            <td id="{{ i }}">{{ i }}</td>
            {% endfor %}
            <td>
              <form action="/modificacion_contrato" method="post" class="form_ganancias">
                <input type="hidden" name="id" value="{{ contrato[0] }}">
                <input type="hidden" name="sucursal" value="{{ contrato[1] }}">
                <input type="hidden" name="rfc_cliente" value="{{ contrato[2] }}">
                <input type="hidden" name="fecha_inicio" value="{{ contrato[3] }}">
                <input type="hidden" name="fecha_vencimiento" value="{{ contrato[4] }}">
                <input type="submit" name="ganancias" value="Modificar" onclick="enviarDatosContrato('{{ contrato[0] }}')">
              </form>  
            </td>
        </tr>
      {% endfor %}
  <script src="{{ url_for('static', filename='filtros.js') }}"></script>
  <script src="{{ url_for('static', filename='modificar_contratos.js') }}"></script>
</body>
</html>